<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <p>This view is for each user, to add or remove devices</p>
    <ul class="list-group">
        <li class="list-group-item">
            <div ng-class="{'device-connected' : device.status.on}" class="device-status pull-right"></div>
            <strong>{{device.name}}</strong>
            <br>
            <label>clientID:</label> <span class="text-muted">{{device.clientID}}</span>
            <br>
            <label>secret:</label> <span class="text-muted">{{device.secret}}</span>
            <a ng-click="deleteDevice(device)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
        </li>
    </ul>

    <li class="module-wrapper" ng-repeat="item in modules" data-drop="true" ng-model='modules' jqyoui-droppable="{index: {{$index}}}">
        <div module="item" device="device" update="updateModule" delete="deleteModule" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="modules" jqyoui-draggable="{index: {{$index}},animate:true}">
        </div>
    </li>

    <button data-toggle="modal" data-target="#add-module-modal" class="btn btn-default">Añadir módulo</button>

</div>

<!-- Modal -->
<div class="modal fade" id="add-module-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="module-modal modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Configure the module</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Select module type</label>
                        <select class="form-control" ng-model="moduleToAdd">
                            <option ng-repeat="item in availableModules" value="{{item.nameValue}}">{{item.name}}</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" ng-click="closeModal(moduleToAdd);">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
