<form ng-cloack>

    <div class="form-group">
        <label for="exampleInputEmail1">Title</label>
        <input type="text" class="form-control" ng-model="gaugeConfig.title" placeholder="Enter module title">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Min range</label>
        <input type="text" class="form-control" ng-model="gaugeConfig.minLimit" placeholder="Enter min range">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Max range</label>
        <input type="text" class="form-control" ng-model="gaugeConfig.maxLimit" placeholder="Enter max range">
    </div>
</form>
